@{
	ViewBag.Title = Piranha.Manager.Resources.Author.ListTitle;
}
@section script {
	@Html.Partial("Partial/Editor", new { height = 150, autoresize = false })

	<script type="text/javascript">
		ko.applyBindings(new manager.models.author({
			addTitle: '@Piranha.Manager.Resources.Author.AddTitle',
			editTitle: '@Piranha.Manager.Resources.Author.EditTitle'
		}));
	</script>
}

<div class="container-fluid">
	@Html.Partial("Partial/EditAuthor")

	<table id="authorList" class="table table-striped table-main">
		<thead>
			<tr>
				<th>@Piranha.Manager.Resources.Global.Name</th>
				<th>@Piranha.Manager.Resources.Global.Email</th>
				<th class="date">@Piranha.Manager.Resources.Global.Updated</th>
				<th class="date">@Piranha.Manager.Resources.Global.Created</th>
				<th class="actions one"></th>
			</tr>
		</thead>
		<tbody class="list">
			<!-- ko foreach: { data: items, as: 'item' } -->
				<tr data-bind="attr: { 'data-id': item.Id }">
					<td>
						<img class="gravatar" data-bind="attr: { src: item.GravatarUrl }" />
						<a href="#" data-bind="click: function (item) { $root.edit(item.Id); }, text: item.Name"></a>
					</td>
					<td data-bind="text: item.Email"></td>
					<td data-bind="text: item.Updated"></td>
					<td data-bind="text: item.Created"></td>
					<td class="actions">
						<a class="delete" href="#" data-bind="click: function (item) { $root.delete(item.Id); }"></a>
					</td>
				</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>
